{% extends 'base.html' %}

{% block title %}Edit Queen{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Yard</a></li>
  <li class="breadcrumb-item">{{ yard.name }} </li>
  <li class="breadcrumb-item"><a href="{% url 'colonies' colony.yard.pk %}">Colony</a></li>
  <li class="breadcrumb-item active">{{ colony.location }} </li>
  <li class="breadcrumb-item active">Edit Queen</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'home' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}